
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 用户自定义配置（该文件放一般性配置，可覆盖~/.vimrc里的配置，若要增加、卸载插件，请放入~/.vimrc.custom.plugins）
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 开启相对行号
" set relativenumber  

" 开启鼠标
" set mouse=a

" 设置光标所在列高亮
" set cursorcolumn

" indentLine 开启代码对齐线
" let g:indentLine_enabled = 1

" markdown
" let system = system('uname -s')
" if system == "Darwin\n"
"     let g:mkdp_path_to_chrome = "/Applications/Google\\ Chrome.app/Contents/MacOS/Google\\ Chrome"
" else
"     let g:mkdp_path_to_chrome = '/usr/bin/google-chrome-stable %U'
" endif
" nmap <silent> <F7> <Plug>MarkdownPreview
" imap <silent> <F7> <Plug>MarkdownPreview
" nmap <silent> <F8> <Plug>StopMarkdownPreview
" imap <silent> <F8> <Plug>StopMarkdownPreview
" 主题设置
"set background=light
"let g:solarized_termcolors=256
colorscheme gruvbox
"let g:airline_theme='gruvbox'

map <leader>te :tabedit<c-r>=expand("%:p:h")<cr>/
nnoremap <leader>fg :FlyGrep<cr>
nnoremap <leader>F :LeaderfFile ~<cr>
nnoremap <Leader>gb :<C-u>call gitblame#echo()<CR>
nnoremap <leader>f :Ack!<space>
" normal模式下切换到确切的tab
noremap <leader>1 1gt
noremap <leader>2 2gt
noremap <leader>3 3gt
noremap <leader>4 4gt
noremap <leader>5 5gt
noremap <leader>6 6gt
noremap <leader>7 7gt
noremap <leader>8 8gt
noremap <leader>9 9gt
noremap <leader>0 :tablast<cr>
map <leader>sa ggvg
" w!! to sudo & write a file
cmap w!! w !sudo tee >/dev/null %

" Quickly close the current window
nnoremap <Space>q :q<CR>
nnoremap <Space>qq :q!<CR>

" Quickly save the current file
nnoremap <Space>w :w<CR>
nnoremap <Space>ww :w!<CR>

map <leader>tm :tabm<cr>


" 去掉搜索高亮
noremap <silent><leader>/ :nohls<CR>

" Doxygen
" let g:DoxygenToolkit_authorName="chxuan, 787280310@qq.com"
" let s:licenseTag = "Copyright(C)\<enter>"
" let s:licenseTag = s:licenseTag . "For free\<enter>"
" let s:licenseTag = s:licenseTag . "All right reserved\<enter>"
" let g:DoxygenToolkit_licenseTag = s:licenseTag
" let g:DoxygenToolkit_briefTag_funcName="yes"
" let g:doxygen_enhanced_color=1
" let g:DoxygenToolkit_commentType="Qt"
let g:user_emmet_expandabbr_key = ''''''

" Allow JSX in normal JS files
let g:jsx_ext_required = 0 
let g:syntastic_javascript_checkers = ['eslint']

iabbrev l console.log


